@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
}

a {
  text-decoration: underline;
}

p {
  color: white;
  text-shadow: #000 1px 0 3px;
}