@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  color: white;
}

a {
  text-decoration: underline;
}

p {
  margin: 0.5rem 0;
}
