<!DOCTYPE html>
<html lang="en">
  <head>
    
    {# This is the base template for the site–other templates extend this one #}
    
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Your new 11ty blog" />
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
    {% seo "" %}
  </head>
  <body>
  <main class="">
    
    {# Page or post content will appear here #}
  
    <div class="wrapper w-full flex flex-col items-center">
      <div class="content max-w-screen-md mx-2 bg-black/50">
        {{ content | safe }}

        <footer class="footer">
          <div class="links">
            <a href="/">Home</a>
            <span class="divider">|</span>
    <!--           <a href="/posts">Posts</a>
            <span class="divider">|</span> -->
            <a href="/about">About</a>
          </div>
        </footer>
      </div>
    </div>

  </main>
   
  </body>
</html>