<!DOCTYPE html>
<html lang="en">
  <head>
    
    {# This is the base template for the site–other templates extend this one #}
    
    <meta charset="utf-8" />
    <link rel="icon" href="https://cdn.glitch.global/d039cf19-6ba4-4bff-aa37-74b7173391d2/favicon-16.png?v=1707685661697" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Your new 11ty blog" />
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
    {% seo "" %}
  </head>
  <body>
  <main class="">
    
    {# Page or post content will appear here #}
  
    <div class="container mx-auto grid h-full
                grid-cols-1
                mb-4
                md:grid-cols-[200px_1fr]
                gap-2">
<!--     <div class="w-full flex md:flex-nowrap flex-wrap flex-row-reverse justify-end md:justify-center items-start"> -->
<!--       <div class="relative
                  col-start-1 row-start-1 col-span-2">
        <img src="https://cdn.glitch.global/d039cf19-6ba4-4bff-aa37-74b7173391d2/DSC00940.jpg?v=1704766660038" class="relative" alt="naoto in blue sweater">
        <div class="absolute top-0 w-full h-full flex items-center">
          <h1 class="text-blue-600 font-bold text-2xl sm:text-4xl" style="text-shadow: #fff 1px 0 3px;">
          Naoto's Sweaters
          </h1>
        </div>
      </div> -->
      <div class="relative
                  md:col-start-1 md:row-start-1 md:col-span-3">
        <img src="{{ image }}" class="relative" alt="header image, naoto posing">
          {% if layout == "layouts/home.njk" %}
            <div class="absolute top-0 w-full h-full flex items-center">
              <h1 class="text-blue-600 font-bold text-2xl sm:text-4xl" style="text-shadow: #fff 1px 0 3px;">
              Naoto's Sweaters
              </h1>
            </div>
          {% endif %}

      </div>
      <div class="bg-black/50
                  sm:p-2
                  md:col-start-2 md:col-span-2">
        {{ content | safe }}
      </div>
      <div class="md:w-fit w-full bg-black/50 space-y-2
                  sm:p-2
                  md:col-start-1 md:row-start-2">
        <footer class="">
          <div class="links">
            <a href="/">Home</a>
<!--              <span class="divider">|</span> -->
<!--             <a href="/about">About</a> -->
          </div>
        </footer>

        <div class="font-bold">
          Posts:
        </div>
        {# After the the content defined in index.md, list the blog posts in the collection #}
        <ul class="">
          {%- for post in collections.posts -%}
            <li{% if page.url == post.url %} aria-current="page"{% endif %}>
              <a href='{{ post.url }}'>{{ post.data.title }}</a>
            </li>
          {%- endfor -%}
    <!--       <li><a href="/posts">View all posts</a></li> -->
        </ul>
      </div>
      <div class="w-full bg-black/50
                  sm:p-2
                  md:col-start-1 md:col-span-3
                  flex justify-between flex-col md:flex-row">
        <div>
          <strong>Photos</strong>: <a href="https://froggohome.com/" target="_blank">Frog Edogawa</a><br />
        </div>
        <div>
          <strong>Concept and Model</strong>: <a href="https://naotohieda.com/" target="_blank">Naoto Hieda</a>
        </div>
        <div class="links">
          Title font: <a href="https://www.collletttivo.it/typefaces/apfel-grotezk" target="_blank">Apfel Grotezk</a>
        </div>
      </div>
    </div>

  </main>
   
  </body>
</html>