---
layout: layouts/base.njk
templateClass: tmpl-home
---

{# The Home page uses this template–it extends the base template {{ post.data.page.date | htmlDateString }} — #}

<div class="wrapper home">
  <div class="content">
    {{ content | safe }}

    <div>
      <div>
        <strong>Photos</strong>: <a href="https://froggohome.com/" target="_blank">Frog Edogawa</a><br />
      </div>
      <div>
        <strong>Concept and Model</strong>: <a href="https://naotohieda.com/" target="_blank">Naoto Hieda</a>
      </div>
    </div>

    {# After the the content defined in index.md, list the blog posts in the collection #}
    <ul>
      {%- for post in collections.posts -%}
        <li{% if page.url == post.url %} aria-current="page"{% endif %}><a href='{{ post.url }}'>{{ post.data.title }}</a></li>
      {%- endfor -%}
<!--       <li><a href="/posts">View all posts</a></li> -->
    </ul>
  </div>
</div>


