---
layout: layouts/base.njk
templateClass: tmpl-home
---

{# The Home page uses this template–it extends the base template {{ post.data.page.date | htmlDateString }} — #}

    <div class="content">
      {{ content | safe }}
    </div>


