---
layout: layouts/base.njk
templateClass: tmpl-home
---

{# This is the template for individual blog posts–it builds the front matter properties into the page #}

    {# The post front matter includes the title property #}
<!--     <h1 class='postTitle'>{{title}}</h1> -->

<div class="relative">
  <img src="{{ image }}" class="relative" alt="">
  <div class="absolute top-0 w-full h-full flex items-center">
    <h1 class="text-blue-600 font-bold text-4xl" style="text-shadow: #fff 1px 0 3px; max-width: 33%">
    {{ title }}
    </h1>
  </div>
</div>


    {# ADD P ELEMENT FROM TODO ON THE NEXT LINE #}
    
    {# Content from the body of the post markdown appears here #}
    {{ content | safe }}

    <div>
      <div>
        <strong>Photos</strong>: <a href="https://froggohome.com/" target="_blank">Frog Edogawa</a><br />
      </div>
      <div>
        <strong>Concept and Model</strong>: <a href="https://naotohieda.com/" target="_blank">Naoto Hieda</a>
      </div>
    </div>
    
    <div class="controls">
    {# The previous and next post data is added in .eleventy.js #}
    {% if prevPost.url %}
      <p>
        <strong>Previous post</strong>: 
        <a class="previous" href="{{ prevPost.url }}">{{ prevPost.data.title }}</a>
      </p>
    {% endif %}
    {% if nextPost.url %}
      <p>
        <strong>Next post</strong>: 
        <a class="next" href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
      </p>
    {% endif %}
    </div>
